MONGO_URI=mongodb+srv://<username>:<password>@cluster0.2vp9uiv.mongodb.net/?appName=Cluster0
CLOUDINARY_CLOUD_NAME=dndtf7ezd
CLOUDINARY_API_KEY=871795137758312
CLOUDINARY_API_SECRET=3B_Rk5w7nG2rmtXfSCNktyqbKd8
JWT_SECRET=<your_jwt_secret_here>